.home {
  margin-top: 6rem;
  margin-bottom: 6rem;
  > .container section {
    height: 30.76rem;
    opacity: 1;
    border-radius: 15px;
    background-image: url("https://images.pexels.com/photos/404280/pexels-photo-404280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  > .container h1 {
    @include heading(1px);
    margin-top: 3rem;
    @include flex(row, space-between, center);
    margin-bottom: 2rem;
  }

  .findmore {
    font-size: 1rem;
  }

  > .container main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 1.7rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.product_card {
  min-width: 23.5%;
  height: 25rem;
  padding: 0rem;
  border: 1px solid #cccccc86;
  border-radius: 7px;
  @include flex(column, flex-start, center, 4px);
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  transition: all 0.3s ease;

  &:hover > div {
    opacity: 1;
  }

  img {
    @include square(calc(18.75rem - 1rem));
    object-fit: cover;
    margin: 0.3rem;
    border-radius: 7px;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: 400;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    text-align: start;
  }

  span {
    font-weight: 700;
    font-size: 1.1rem;
    width: 90%;
  }

  > div {
    opacity: 0;
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    background-color: rgba(141, 141, 141, 0.297);
    @include flex;
    transition: all 0.3s ease;

    button {
      @include flex;
      @include square;
      border-radius: 100%;
      border: none;
      outline: none;
      background-color: $color3;
      color: white;
      height: 40px;
      width: 40px;
      font-size: 1.2rem;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        rotate: 20deg;
      }
    }
  }
}
