.product-search-page {
  margin-top: 8rem;
  margin-bottom: 3rem;
  width: 100%;
  @include flex(row, flex-start, stretch, 2rem);
  min-height: 100vh;
  font-size: 1.2rem;


  > aside {
    position: fixed;
    height: 100%;
    min-width: 20rem;
    box-shadow: 2px 5px 10px rgba(197, 197, 197, 0.247);
    padding: 0 2rem;
    @include flex(column, flex-start, stretch);
    gap: 1.5rem;
    > h2 {
      @include heading;
    }

    > div {
      > input,
      > select {
        @include inputStyle(
          100%,
          1rem,
          white,
          1px solid rgba(154, 154, 154, 0.38)
        );
        border-radius: 10px;
        margin: 0.5rem;
        font-size: 1.1rem;
      }
      > h4{
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }
  }

  > main {
    width: 100%;
    padding: 0 2rem;
    margin-left: 20rem;
    > h1 {
      @include heading;
    }

    > input {
      @include inputStyle(100%);
      border-radius: 5px;
      border: 1px solid #e1e1e1;
      background-color: rgba(214, 214, 214, 0.164);
      font-size: 1.2rem;
      display: block;
      margin: 1rem 0;
      margin-bottom: 2.5rem;
    }

    .search-product-list {
      @include flex(row, flex-start, flex-start);
      flex-wrap: wrap;
      gap: 2.5rem 1.5rem;
      margin-bottom: 6rem;
    }

    .product_card {
      width: 31.8%;
    }

    article {
      @include flex;
      > button {
        @include flex;
        padding: 1rem;
        font-size: 1.1rem;
        border: none;
        border-radius: 10px;
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          color: $color2;
        }
      }
    }
  }
}
